body { 
  background-color: #B0C4DE;
   color: #696969;
  front-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align:center;
  text-transform: uppercase;
  border-top: 1px solid #D3D3D3; 
  border-bottom: 1px solid #D3D3D3; 
  background-color: FFF5EE(0,0,0,0.1)
}
