body { 
  background-color: #FFFAFA;
   color: #696969;
  front-family: Times New Roman, Times, serif;
  margin: 5% 5%;
}

.exp-header {
  text-align:center;
  text-transform: uppercase;
  border-top: 1px solid #D3D3D3; 
  border-bottom: 1px solid #D3D3D3; 
  background-color: FFF5EE(0,0,0,0.1)
}
