body { 
  background-color: #9CB49B;
   color: #1E391D;
  padding: 15% 15%;
  border-style:groove;
  border-color:#DBAAA0;
}

img {
    width: 150px;
}

.exp-header {
  text-align:center;
  text-transform: normal;
  border-top: 1px solid #DBAAA0;
  border-bottom: 1px solid #DBAAA0; 
  background-color: FFF5EE(0,0,0,0.1)
}
